<!DOCTYPE html>
<html>
<head>
  <title>SimpleCms | <%= @page_title || 'Admin Area' %></title>
  <%= stylesheet_link_tag "admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1>Simple CMS Admin</h1>
</header>
<div id="main">
	<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice]%>
	</div>
	<% end %>
	<div id="content">
		<%= yield %>
	</div>
</div>
<footer>
	<p>&copy; tyler_mf </p>
</footer>
</body>
</html>
